# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# local env files
.env
.env.*
.env.*.local
*.local

# testing
coverage

# turbo
.turbo

# vercel
.vercel

# build outputs
.next/
out/
build
dist
dist-ssr
.swc/
tsconfig.tsbuildinfo
*.tsbuildinfo
next-env.d.ts

# framework-specific build outputs
.nitro
.tanstack
.wrangler
.output
.vinxi

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
count.txt
todos.json

# storybook
storybook-static
build-storybook.log

# eslint
.eslintcache

# codecov
codecov
codecov.*

# scripts
.exports-analysis
