@import 'tailwindcss';
@import '@codefast/ui/styles.css';

@plugin '@codefast/ui/tailwindcss/plugins/animate.plugin';

@source '../node_modules/@codefast/ui/dist';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  html,
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer theme {
  :root {
    --ui-color-background: var(--color-white);
    --ui-color-foreground: var(--color-slate-950);

    --ui-color-input: var(--color-slate-300);
    --ui-color-border: var(--color-slate-300);
    --ui-color-ring: var(--color-sky-400);

    --ui-color-primary: var(--color-sky-600);
    --ui-color-primary-foreground: var(--color-sky-50);

    --ui-color-secondary: var(--color-slate-200);
    --ui-color-secondary-foreground: var(--color-slate-950);

    --ui-color-accent: var(--color-slate-200);
    --ui-color-accent-foreground: var(--color-slate-950);

    --ui-color-muted: var(--color-slate-200);
    --ui-color-muted-foreground: var(--color-slate-500);

    --ui-color-destructive: var(--color-red-500);
    --ui-color-destructive-foreground: var(--color-red-50);

    --ui-color-info: var(--color-cyan-700);
    --ui-color-info-foreground: var(--color-cyan-50);

    --ui-color-success: var(--color-green-700);
    --ui-color-success-foreground: var(--color-green-50);

    --ui-color-warning: var(--color-yellow-700);
    --ui-color-warning-foreground: var(--color-yellow-50);

    --ui-color-popover: var(--color-white);
    --ui-color-popover-foreground: var(--color-slate-950);

    --ui-color-card: var(--color-white);
    --ui-color-card-foreground: var(--color-slate-950);

    --ui-color-sidebar: var(--color-slate-50);
    --ui-color-sidebar-foreground: var(--color-slate-700);

    --ui-color-sidebar-primary: var(--color-slate-900);
    --ui-color-sidebar-primary-foreground: var(--color-slate-50);

    --ui-color-sidebar-accent: var(--color-slate-100);
    --ui-color-sidebar-accent-foreground: var(--color-slate-900);

    --ui-color-sidebar-border: var(--color-slate-200);
    --ui-color-sidebar-ring: var(--color-sky-100);

    --ui-color-chart-1: oklch(67.72% 0.1571 35.19);
    --ui-color-chart-2: oklch(63.09% 0.1013 183.49);
    --ui-color-chart-3: oklch(37.87% 0.044 225.54);
    --ui-color-chart-4: oklch(83.36% 0.1186 88.15);
    --ui-color-chart-5: oklch(78.34% 0.1261 58.75);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --ui-color-background: var(--color-slate-950);
      --ui-color-foreground: var(--color-slate-50);

      --ui-color-input: var(--color-slate-700);
      --ui-color-border: var(--color-slate-700);
      --ui-color-ring: var(--color-sky-600);

      --ui-color-primary: var(--color-sky-400);
      --ui-color-primary-foreground: var(--color-sky-950);

      --ui-color-secondary: var(--color-slate-800);
      --ui-color-secondary-foreground: var(--color-slate-50);

      --ui-color-accent: var(--color-slate-800);
      --ui-color-accent-foreground: var(--color-slate-50);

      --ui-color-muted: var(--color-slate-800);
      --ui-color-muted-foreground: var(--color-slate-500);

      --ui-color-destructive: var(--color-red-500);
      --ui-color-destructive-foreground: var(--color-red-950);

      --ui-color-info: var(--color-cyan-300);
      --ui-color-info-foreground: var(--color-cyan-950);

      --ui-color-success: var(--color-green-300);
      --ui-color-success-foreground: var(--color-green-950);

      --ui-color-warning: var(--color-yellow-300);
      --ui-color-warning-foreground: var(--color-yellow-950);

      --ui-color-popover: var(--color-slate-950);
      --ui-color-popover-foreground: var(--color-slate-50);

      --ui-color-card: var(--color-slate-950);
      --ui-color-card-foreground: var(--color-slate-50);

      --ui-color-sidebar: var(--color-slate-950);
      --ui-color-sidebar-foreground: var(--color-slate-300);

      --ui-color-sidebar-primary: var(--color-slate-100);
      --ui-color-sidebar-primary-foreground: var(--color-slate-950);

      --ui-color-sidebar-accent: var(--color-slate-900);
      --ui-color-sidebar-accent-foreground: var(--color-slate-100);

      --ui-color-sidebar-border: var(--color-slate-800);
      --ui-color-sidebar-ring: var(--color-sky-900);

      --ui-color-chart-1: oklch(67.72% 0.1571 35.19);
      --ui-color-chart-2: oklch(63.09% 0.1013 183.49);
      --ui-color-chart-3: oklch(37.87% 0.044 225.54);
      --ui-color-chart-4: oklch(83.36% 0.1186 88.15);
      --ui-color-chart-5: oklch(78.34% 0.1261 58.75);
    }
  }
}
