:root {
  --field: transparent;
  --field-hover: color-mix(in oklch, var(--color-neutral-100), transparent 50%);

  --field-border: var(--color-neutral-200);
  --field-border-hover: color-mix(in oklch, var(--color-neutral-400), transparent 60%);

  --border: var(--color-neutral-200);

  --ring: var(--color-neutral-400);
  --ring-focus: color-mix(in oklch, var(--ring), transparent 50%);
  --ring-selected: color-mix(in oklch, var(--ring), transparent 80%);
  --ring-destructive: color-mix(in oklch, var(--destructive), transparent 80%);
  --ring-primary: color-mix(in oklch, var(--primary), transparent 80%);

  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);

  --primary: var(--color-neutral-900);
  --primary-hover: color-mix(in oklch, var(--primary), white 10%);
  --primary-active: color-mix(in oklch, var(--primary), black 10%);
  --primary-checked: color-mix(in oklch, var(--primary), transparent 95%);
  --primary-foreground: var(--color-neutral-50);

  --secondary: var(--color-neutral-100);
  --secondary-hover: color-mix(in oklch, var(--secondary), black 5%);
  --secondary-active: color-mix(in oklch, var(--secondary), black 10%);
  --secondary-foreground: var(--color-neutral-900);

  --destructive: var(--color-red-600);
  --destructive-hover: color-mix(in oklch, var(--destructive), white 10%);
  --destructive-active: color-mix(in oklch, var(--destructive), black 10%);
  --destructive-focus: color-mix(in oklch, var(--destructive), transparent 90%);
  --destructive-foreground: var(--color-white);

  --accent: var(--color-neutral-100);
  --accent-hover: color-mix(in oklch, var(--accent), black 5%);
  --accent-foreground: var(--color-neutral-900);

  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);
  --muted-selected: var(--background);

  --popover: var(--color-neutral-50);
  --popover-foreground: var(--color-neutral-950);

  --card: var(--color-neutral-50);
  --card-foreground: var(--color-neutral-950);

  --sidebar: var(--color-neutral-50);
  --sidebar-foreground: var(--color-neutral-950);

  --sidebar-primary: var(--color-neutral-900);
  --sidebar-primary-foreground: var(--color-neutral-50);

  --sidebar-accent: var(--color-neutral-100);
  --sidebar-accent-foreground: var(--color-neutral-900);

  --sidebar-border: var(--color-neutral-200);

  --sidebar-ring: var(--color-neutral-400);

  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-teal-600);
  --chart-3: var(--color-cyan-900);
  --chart-4: var(--color-amber-400);
  --chart-5: var(--color-amber-500);
}

.dark {
  --field: color-mix(in oklch, var(--color-white), transparent 95%);
  --field-hover: color-mix(in oklch, var(--color-white), transparent 95%);

  --field-border: color-mix(in oklch, var(--color-white), transparent 80%);
  --field-border-hover: color-mix(in oklch, var(--color-white), transparent 70%);

  --border: color-mix(in oklch, var(--color-white), transparent 80%);

  --ring: var(--color-neutral-500);
  --ring-focus: color-mix(in oklch, var(--ring), transparent 50%);
  --ring-selected: color-mix(in oklch, var(--ring), transparent 80%);
  --ring-destructive: color-mix(in oklch, var(--color-red-400), transparent 60%);
  --ring-primary: color-mix(in oklch, var(--primary), transparent 60%);

  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);

  --primary: var(--color-neutral-200);
  --primary-hover: color-mix(in oklch, var(--primary), white 10%);
  --primary-active: color-mix(in oklch, var(--primary), black 10%);
  --primary-checked: color-mix(in oklch, var(--primary), transparent 85%);
  --primary-foreground: var(--color-neutral-900);

  --secondary: var(--color-neutral-800);
  --secondary-hover: color-mix(in oklch, var(--secondary), white 5%);
  --secondary-active: color-mix(in oklch, var(--secondary), black 5%);
  --secondary-foreground: var(--color-neutral-50);

  --destructive: var(--color-red-400);
  --destructive-hover: color-mix(in oklch, var(--destructive), white 10%);
  --destructive-active: color-mix(in oklch, var(--destructive), black 10%);
  --destructive-focus: color-mix(in oklch, var(--destructive), transparent 80%);
  --destructive-foreground: var(--color-black);

  --accent: var(--color-neutral-800);
  --accent-hover: color-mix(in oklch, var(--accent), white 5%);
  --accent-foreground: var(--color-neutral-50);

  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-400);
  --muted-selected: color-mix(in oklch, var(--foreground), transparent 90%);

  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-50);

  --card: var(--color-neutral-900);
  --card-foreground: var(--color-neutral-50);

  --sidebar: var(--color-neutral-900);
  --sidebar-foreground: var(--color-neutral-50);

  --sidebar-primary: var(--color-neutral-200);
  --sidebar-primary-foreground: var(--color-neutral-900);

  --sidebar-accent: var(--color-neutral-800);
  --sidebar-accent-foreground: var(--color-neutral-50);

  --sidebar-border: color-mix(in oklch, var(--color-white), transparent 90%);

  --sidebar-ring: var(--color-neutral-500);

  --chart-1: var(--color-blue-700);
  --chart-2: var(--color-emerald-500);
  --chart-3: var(--color-amber-500);
  --chart-4: var(--color-purple-500);
  --chart-5: var(--color-rose-500);
}
