:root {
  --input: oklch(0.92 0.004 286.32); /* --color-zinc-200 */
  --border: oklch(0.92 0.004 286.32); /* --color-zinc-200 */

  --ring: oklch(0.75 0.183 55.934); /* --color-orange-400 */

  --background: oklch(1 0 0); /* --color-zinc-50 */
  --foreground: oklch(0.141 0.005 285.823); /* --color-zinc-950 */

  --primary: oklch(0.646 0.222 41.116); /* --color-orange-600 */
  --primary-foreground: oklch(0.98 0.016 73.684); /* --color-orange-50 */

  --secondary: oklch(0.967 0.001 286.375); /* --color-zinc-100 */
  --secondary-foreground: oklch(0.21 0.006 285.885); /* --color-zinc-900 */

  --destructive: oklch(0.577 0.245 27.325); /* --color-red-600 */

  --accent: oklch(0.967 0.001 286.375); /* --color-zinc-100 */
  --accent-foreground: oklch(0.21 0.006 285.885); /* --color-zinc-900 */

  --muted: oklch(0.967 0.001 286.375); /* --color-zinc-100 */
  --muted-foreground: oklch(0.552 0.016 285.938); /* --color-zinc-500 */

  --popover: oklch(1 0 0); /* --color-zinc-50 */
  --popover-foreground: oklch(0.141 0.005 285.823); /* --color-zinc-950 */

  --card: oklch(1 0 0); /* --color-zinc-50 */
  --card-foreground: oklch(0.141 0.005 285.823); /* --color-zinc-950 */

  --sidebar: oklch(0.985 0 0); /* --color-zinc-50 */
  --sidebar-foreground: oklch(0.141 0.005 285.823); /* --color-zinc-950 */

  --sidebar-primary: oklch(0.646 0.222 41.116); /* --color-orange-600 */
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684); /* --color-orange-50 */

  --sidebar-accent: oklch(0.967 0.001 286.375); /* --color-zinc-100 */
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885); /* --color-zinc-900 */

  --sidebar-border: oklch(0.92 0.004 286.32); /* --color-zinc-200 */
  --sidebar-ring: oklch(0.75 0.183 55.934); /* --color-orange-400 */

  --chart-1: oklch(0.837 0.128 66.29); /* --color-orange-300 */
  --chart-2: oklch(0.705 0.213 47.604); /* --color-orange-500 */
  --chart-3: oklch(0.646 0.222 41.116); /* --color-orange-600 */
  --chart-4: oklch(0.553 0.195 38.402); /* --color-orange-700 */
  --chart-5: oklch(0.47 0.157 37.304); /* --color-orange-800 */
}

.dark {
  --input: oklch(1 0 0 / 15%); /* --color-white */
  --border: oklch(1 0 0 / 10%); /* --color-white */

  --ring: oklch(0.408 0.123 38.172); /* --color-orange-900 */

  --background: oklch(0.141 0.005 285.823); /* --color-zinc-950 */
  --foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --primary: oklch(0.705 0.213 47.604); /* --color-orange-500 */
  --primary-foreground: oklch(0.98 0.016 73.684); /* --color-orange-50 */

  --secondary: oklch(0.274 0.006 286.033); /* --color-zinc-800 */
  --secondary-foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --destructive: oklch(0.704 0.191 22.216); /* --color-red-400 */

  --accent: oklch(0.274 0.006 286.033); /* --color-zinc-800 */
  --accent-foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --muted: oklch(0.274 0.006 286.033); /* --color-zinc-800 */
  --muted-foreground: oklch(0.705 0.015 286.067); /* --color-zinc-400 */

  --popover: oklch(0.21 0.006 285.885); /* --color-zinc-900 */
  --popover-foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --card: oklch(0.21 0.006 285.885); /* --color-zinc-900 */
  --card-foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --sidebar: oklch(0.21 0.006 285.885); /* --color-zinc-900 */
  --sidebar-foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --sidebar-primary: oklch(0.705 0.213 47.604); /* --color-orange-500 */
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684); /* --color-orange-50 */

  --sidebar-accent: oklch(0.274 0.006 286.033); /* --color-zinc-800 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* --color-zinc-50 */

  --sidebar-border: oklch(1 0 0 / 10%); /* --color-white */
  --sidebar-ring: oklch(0.408 0.123 38.172); /* --color-orange-900 */

  --chart-1: oklch(0.837 0.128 66.29); /* --color-orange-300 */
  --chart-2: oklch(0.705 0.213 47.604); /* --color-orange-500 */
  --chart-3: oklch(0.646 0.222 41.116); /* --color-orange-600 */
  --chart-4: oklch(0.553 0.195 38.402); /* --color-orange-700 */
  --chart-5: oklch(0.47 0.157 37.304); /* --color-orange-800 */
}
