:root {
  --input: oklch(0.93 0.01 256); /* --color-slate-200 */
  --border: oklch(0.93 0.01 256); /* --color-slate-200 */

  --ring: oklch(0.71 0.04 257); /* --color-slate-400 */

  --background: oklch(0.98 0 248); /* --color-slate-50 */
  --foreground: oklch(0.13 0.04 265); /* --color-slate-950 */

  --primary: oklch(0.21 0.04 266); /* --color-slate-900 */
  --primary-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --secondary: oklch(0.97 0.01 248); /* --color-slate-100 */
  --secondary-foreground: oklch(0.21 0.04 266); /* --color-slate-900 */

  --destructive: oklch(0.577 0.245 27.325); /* --color-red-600 */

  --accent: oklch(0.97 0.01 248); /* --color-slate-100 */
  --accent-foreground: oklch(0.21 0.04 266); /* --color-slate-900 */

  --muted: oklch(0.97 0.01 248); /* --color-slate-100 */
  --muted-foreground: oklch(0.55 0.04 257); /* --color-slate-500 */

  --popover: oklch(0.98 0 248); /* --color-slate-50 */
  --popover-foreground: oklch(0.13 0.04 265); /* --color-slate-950 */

  --card: oklch(0.98 0 248); /* --color-slate-50 */
  --card-foreground: oklch(0.13 0.04 265); /* --color-slate-950 */

  --sidebar: oklch(0.98 0 248); /* --color-slate-50 */
  --sidebar-foreground: oklch(0.13 0.04 265); /* --color-slate-950 */

  --sidebar-primary: oklch(0.21 0.04 266); /* --color-slate-900 */
  --sidebar-primary-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --sidebar-accent: oklch(0.97 0.01 248); /* --color-slate-100 */
  --sidebar-accent-foreground: oklch(0.21 0.04 266); /* --color-slate-900 */

  --sidebar-border: oklch(0.93 0.01 256); /* --color-slate-200 */
  --sidebar-ring: oklch(0.71 0.04 257); /* --color-slate-400 */

  --chart-1: oklch(0.646 0.222 41.116); /* --color-orange-600 */
  --chart-2: oklch(0.6 0.118 184.704); /* --color-teal-600 */
  --chart-3: oklch(0.398 0.07 227.392); /* --color-cyan-900 */
  --chart-4: oklch(0.828 0.189 84.429); /* --color-amber-400 */
  --chart-5: oklch(0.769 0.188 70.08); /* --color-amber-500 */
}

.dark {
  --input: oklch(1 0 0 / 15%); /* --color-white */
  --border: oklch(1 0 0 / 10%); /* --color-white */

  --ring: oklch(0.55 0.04 257); /* --color-slate-500 */

  --background: oklch(0.13 0.04 265); /* --color-slate-950 */
  --foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --primary: oklch(0.93 0.01 256); /* --color-slate-200 */
  --primary-foreground: oklch(0.21 0.04 266); /* --color-slate-900 */

  --secondary: oklch(0.28 0.04 260); /* --color-slate-800 */
  --secondary-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --destructive: oklch(0.704 0.191 22.216); /* --color-red-400 */

  --accent: oklch(0.28 0.04 260); /* --color-slate-800 */
  --accent-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --muted: oklch(0.28 0.04 260); /* --color-slate-800 */
  --muted-foreground: oklch(0.71 0.04 257); /* --color-slate-400 */

  --popover: oklch(0.21 0.04 266); /* --color-slate-900 */
  --popover-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --card: oklch(0.21 0.04 266); /* --color-slate-900 */
  --card-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --sidebar: oklch(0.21 0.04 266); /* --color-slate-900 */
  --sidebar-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --sidebar-primary: oklch(0.488 0.243 264.376); /* --color-blue-700 */
  --sidebar-primary-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --sidebar-accent: oklch(0.28 0.04 260); /* --color-slate-800 */
  --sidebar-accent-foreground: oklch(0.98 0 248); /* --color-slate-50 */

  --sidebar-border: oklch(1 0 0 / 10%); /* --color-white */
  --sidebar-ring: oklch(0.55 0.04 257); /* --color-slate-500 */

  --chart-1: oklch(0.488 0.243 264.376); /* --color-blue-700 */
  --chart-2: oklch(0.696 0.17 162.48); /* --color-emerald-500 */
  --chart-3: oklch(0.769 0.188 70.08); /* --color-amber-500 */
  --chart-4: oklch(0.627 0.265 303.9); /* --color-purple-500 */
  --chart-5: oklch(0.645 0.246 16.439); /* --color-rose-500 */
}
