:root {
  --field: transparent;
  --field-hover: oklch(92% 0.004 286.32 / 50%); /* --color-zinc-200 / 50% */
  --field-border: oklch(92% 0.004 286.32); /* --color-zinc-200 */
  --field-border-hover: oklch(70.5% 0.015 286.067 / 60%); /* --color-zinc-400 / 60% */

  --border: oklch(92% 0.004 286.32); /* --color-zinc-200 */

  --ring: oklch(70.2% 0.183 293.541); /* --color-violet-400 */

  --background: oklch(98.5% 0 0); /* --color-zinc-50 */
  --foreground: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */

  --primary: oklch(54.1% 0.281 293.009); /* --color-violet-600 */
  --primary-foreground: oklch(96.9% 0.016 293.756); /* --color-violet-50 */

  --secondary: oklch(96.7% 0.001 286.375); /* --color-zinc-100 */
  --secondary-foreground: oklch(21% 0.006 285.885); /* --color-zinc-900 */

  --destructive: oklch(57.7% 0.245 27.325); /* --color-red-600 */

  --accent: oklch(96.7% 0.001 286.375); /* --color-zinc-100 */
  --accent-foreground: oklch(21% 0.006 285.885); /* --color-zinc-900 */

  --muted: oklch(96.7% 0.001 286.375); /* --color-zinc-100 */
  --muted-foreground: oklch(55.2% 0.016 285.938); /* --color-zinc-500 */

  --popover: oklch(98.5% 0 0); /* --color-zinc-50 */
  --popover-foreground: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */

  --card: oklch(98.5% 0 0); /* --color-zinc-50 */
  --card-foreground: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */

  --sidebar: oklch(98.5% 0 0); /* --color-zinc-50 */
  --sidebar-foreground: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */

  --sidebar-primary: oklch(54.1% 0.281 293.009); /* --color-violet-600 */
  --sidebar-primary-foreground: oklch(96.9% 0.016 293.756); /* --color-violet-50 */

  --sidebar-accent: oklch(96.7% 0.001 286.375); /* --color-zinc-100 */
  --sidebar-accent-foreground: oklch(21% 0.006 285.885); /* --color-zinc-900 */

  --sidebar-border: oklch(92% 0.004 286.32); /* --color-zinc-200 */
  --sidebar-ring: oklch(70.2% 0.183 293.541); /* --color-violet-400 */

  --chart-1: oklch(81.1% 0.111 293.571); /* --color-violet-300 */
  --chart-2: oklch(60.6% 0.25 292.717); /* --color-violet-500 */
  --chart-3: oklch(54.1% 0.281 293.009); /* --color-violet-600 */
  --chart-4: oklch(49.1% 0.27 292.581); /* --color-violet-700 */
  --chart-5: oklch(43.2% 0.232 292.759); /* --color-violet-800 */
}

.dark {
  --field: oklch(100% 0 0 / 15%); /* --color-white / 15% */
  --field-hover: oklch(100% 0 0 / 25%); /* --color-white / 25% */
  --field-border: oklch(100% 0 0 / 15%); /* --color-white / 15% */
  --field-border-hover: oklch(44.2% 0.017 285.786 / 70%); /* --color-zinc-600 / 70% */

  --border: oklch(100% 0 0 / 10%); /* --color-white / 10% */

  --ring: oklch(38% 0.189 293.745); /* --color-violet-900 */

  --background: oklch(14.1% 0.005 285.823); /* --color-zinc-950 */
  --foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --primary: oklch(60.6% 0.25 292.717); /* --color-violet-500 */
  --primary-foreground: oklch(96.9% 0.016 293.756); /* --color-violet-50 */

  --secondary: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --secondary-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --destructive: oklch(70.4% 0.191 22.216); /* --color-red-400 */

  --accent: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --accent-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --muted: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --muted-foreground: oklch(70.5% 0.015 286.067); /* --color-zinc-400 */

  --popover: oklch(21% 0.006 285.885); /* --color-zinc-900 */
  --popover-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --card: oklch(21% 0.006 285.885); /* --color-zinc-900 */
  --card-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --sidebar: oklch(21% 0.006 285.885); /* --color-zinc-900 */
  --sidebar-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --sidebar-primary: oklch(60.6% 0.25 292.717); /* --color-violet-500 */
  --sidebar-primary-foreground: oklch(96.9% 0.016 293.756); /* --color-violet-50 */

  --sidebar-accent: oklch(27.4% 0.006 286.033); /* --color-zinc-800 */
  --sidebar-accent-foreground: oklch(98.5% 0 0); /* --color-zinc-50 */

  --sidebar-border: oklch(100% 0 0 / 10%); /* --color-white / 10% */
  --sidebar-ring: oklch(38% 0.189 293.745); /* --color-violet-900 */

  --chart-1: oklch(81.1% 0.111 293.571); /* --color-violet-300 */
  --chart-2: oklch(60.6% 0.25 292.717); /* --color-violet-500 */
  --chart-3: oklch(54.1% 0.281 293.009); /* --color-violet-600 */
  --chart-4: oklch(49.1% 0.27 292.581); /* --color-violet-700 */
  --chart-5: oklch(43.2% 0.232 292.759); /* --color-violet-800 */
}
