@import 'tailwindcss';

@import '@codefast/ui/styles.css';

@source '../../node_modules/@codefast/ui/dist';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-zinc-950);

    --input: var(--color-zinc-200);
    --border: var(--color-zinc-200);
    --ring: var(--color-zinc-500);

    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-zinc-50);

    --secondary: var(--color-zinc-100);
    --secondary-foreground: var(--color-zinc-950);

    --accent: var(--color-zinc-100);
    --accent-foreground: var(--color-zinc-950);

    --destructive: var(--color-red-500);

    --muted: var(--color-zinc-200);
    --muted-foreground: var(--color-zinc-600);

    --popover: var(--color-white);
    --popover-foreground: var(--color-zinc-950);
    --popover-overlay: --alpha(var(--color-zinc-900) / 35%);

    --card: var(--color-white);
    --card-foreground: var(--color-zinc-950);

    --sidebar: var(--color-zinc-50);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--color-accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);

    --chart-1: var(--color-orange-600);
    --chart-2: var(--color-cyan-600);
    --chart-3: var(--color-lime-600);
    --chart-4: var(--color-yellow-600);
    --chart-5: var(--color-fuchsia-600);
  }

  .dark {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-50);

    --input: var(--color-zinc-800);
    --border: var(--color-zinc-800);
    --ring: var(--color-zinc-600);

    --primary: var(--color-blue-500);
    --primary-foreground: var(--color-zinc-50);

    --secondary: var(--color-zinc-800);
    --secondary-foreground: var(--color-zinc-50);

    --accent: var(--color-zinc-800);
    --accent-foreground: var(--color-zinc-50);

    --destructive: var(--color-red-500);

    --muted: var(--color-zinc-800);
    --muted-foreground: var(--color-zinc-400);

    --popover: var(--color-zinc-900);
    --popover-foreground: var(--color-zinc-50);
    --popover-overlay: --alpha(var(--color-zinc-100) / 35%);

    --card: var(--color-zinc-950);
    --card-foreground: var(--color-zinc-50);

    --sidebar: var(--color-zinc-950);

    --chart-1: var(--color-orange-400);
    --chart-2: var(--color-cyan-400);
    --chart-3: var(--color-lime-400);
    --chart-4: var(--color-yellow-400);
    --chart-5: var(--color-fuchsia-400);
  }
}
