@import 'tailwindcss';

@import '@codefast/ui/css/preset.css';
@import '@codefast/ui/css/neutral.css';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/noto-sans';
@import '@fontsource-variable/nunito-sans';
@import '@fontsource-variable/figtree';

@import './themes.css';

@custom-variant fixed (&:is(.layout-fixed *));

@theme {
  --font-inter: 'Inter Variable', sans-serif;
  --font-noto-sans: 'Noto Sans Variable', sans-serif;
  --font-nunito-sans: 'Nunito Sans Variable', sans-serif;
  --font-figtree: 'Figtree Variable', sans-serif;
}

@utility theme-container {
  @apply font-sans;
}